body{
    background-color: rgb(91, 91, 245);
}

#header{
    text-align: center;
    font-size: 300%;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#paragraph1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.paragraph{
    text-align: left;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}


    
    
    
    
